.chat {
  display: flex;
  background: turquoise;
  height: 100vh;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  background: rgb(0, 0, 0);
  width: 30%;
  height: 100vh;
  width: 20%;
  gap: 20px;
  align-items: center;

}

.selected {
  background: rgb(180, 180, 180);
  color:black;
}



.chat-text {
  color: white;
  font-size: 40px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 20px;
}

.right {
  display: flex;
  flex-direction: column;
  background: black;
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.top-conversations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top-conversations span {
  font-size: 32px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 10px;
}
.chat-search {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.search {
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #141414;
}

.search input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  color: white;
  margin-left: 30px;
}

.search input:focus {
  outline: none;
}

.chat-search input::placeholder {
  color: gray;
}

.search-icon {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bb151f;
  cursor: pointer;
}

.search-icon:hover {
  color: white;
}

.no-chat{
  width: 300px;
  height: 300px;
}

.no-chat-icon{
  width: 100%;
  height: 100%;
  color: #bb151f;
}

.no-chat-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: family
}

.no-chat-text h1{
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.no-chat-text h2{
  font-size: 16px;
  font-weight: 400;
  color:gray;
  text-align: center;
}


.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  /* background-color: #f5f5f5; */
}

.contacts {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  /* position: relative; */
}

.contact {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 2px solid white;
  margin-left: -25px;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .contact:first-child {
  margin-left: 0;
} */

.contact:hover {
  transform: translateY(-5px);
  z-index: 2;
  transition: transform 0.5s ease;

}

.add-contact {
  background-color: #bb151f;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: background-color 0.2s ease;
}

.add-contact:hover {
  background-color: gray;
}

.empty-conversation {
  text-align: center;
  padding: 20px;
  /* background-color: white; */
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.empty-conversation-text {
  color: #666;
  font-size: 25px;
  margin: 0;
  font-weight: 500;
}
